.c-formulario{
   display: flex;
   justify-content: center;
   padding: 25px;
   width: 80%;

   &__input{
    margin: 10px;
    border: 2px solid rgb(205, 205, 205);
    outline: none;
   }
   &__input:hover{
    border-color: green;
   }
   &__input:focus{
    border-color: red;
   }
}