$index:0;
@each $margin in $margins {
  .g--margin-#{$index}{
    margin: $margin;
  }
  $index:$index+1;
}

$index:0;
@each $margin in $margins {
  .g--margin-vertical-#{$index}{
    margin-top: $margin;
    margin-bottom: $margin;
  }
  $index:$index+1;
}

$index:0;
@each $margin in $margins {
  .g--margin-horizontal-#{$index}{
    margin-left: $margin;
    margin-right: $margin;
  }
  $index:$index+1;
}

$index:0;
@each $margin in $margins {
  .g--margin-left-#{$index}{
    margin-left: $margin;
  }
  $index:$index+1;
}

$index:0;
@each $margin in $margins {
  .g--margin-right-#{$index}{
    margin-right: $margin;
  }
  $index:$index+1;
}

$index:0;
@each $margin in $margins {
  .g--margin-top-#{$index}{
    margin-top: $margin;
  }
  $index:$index+1;
}

$index:0;
@each $margin in $margins {
  .g--margin-bottom-#{$index}{
    margin-bottom: $margin;
  }
  $index:$index+1;
}